@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 1320px;
    /* for my own laptop*/
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

/* banner */
#banner-container {
    padding: 0 20px;
    background: #FEEAE9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}

#banner-container h2 {
    font-size: 40px;
}

#banner-container h6 {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #4E4E4E;
    font-weight: 400;
}

#banner-price {
    color: #FF136F;
}

.btn-primary {
    background: #FF136F;
    padding: 8px 25px;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
}

/* category */
#category, #backpack, #shoes {
    margin-top: 100px;
}

#category>h1, #shoes>h1, #backpack>h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category-card {
    color: white;
    font-size: 30px;
    padding: 20px;
    border-radius: 20px;
    border: 2px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-card h5 {
    font-weight: 400;
}

/* shoes product*/


#card-container {
    margin-top: 20px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);

}

.card {
    text-align: center;
    border: 2px solid gray;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;

}

.card-title, .card-price {
    font-size: 24px;
}

.card-price {
    margin-bottom: 15px;
}

.card-description {
    margin: 15px 0;
    font-size: 14px;
    color: #4E4E4E;
}

.btn-card {
    margin-top: 10px;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}



/* img {
    width: 100px;
} */

/* Responsive */

/* Laptop Device (up to 1200px) */
@media screen and (max-width:1200px) {}

/* Tablet Device (up to 992px) */
@media screen and (max-width:992px) {

    /* banner */
    #banner-container {
        padding: 0 20px;
        background: #FEEAE9;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    #banner-container h2 {
        font-size: 23px;
    }

    #banner-container h6 {
        font-size: 10px;
        color: #4E4E4E;
        font-weight: 400;
    }

    #banner-price {
        color: #FF136F;
    }

    .btn-primary {
        background: #FF136F;
        padding: 8px 15px;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 12px;
    }

    #banner-container img {
        display: block;
        width: 80%;
        margin-left: auto;
    }

    .category-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    /* category */

    .category>img {
        width: 70px;
        display: block;
    }

    /* card */
    #card-container {
        margin-top: 20px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);

    }
}

/* Mobile Device (up to 640px) */
@media screen and (max-width:640px) {

    /* navbar */
    img {
        width: 90px;
    }

    .hamb-menu {
        width: 40px;
    }

    /* banner */
    #banner-container {
        padding: 0 20px;
        background: #FEEAE9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    #banner-container h2 {
        font-size: 36px;
    }

    #banner-container h6 {
        font-size: 10px;
        color: #4E4E4E;
        font-weight: 400;
    }

    #banner-price {
        color: #FF136F;
    }


    #banner-container img {
        display: block;

        margin: auto;
    }

    .category-container {
        grid-template-columns: 1fr;
        gap: 20px;

    }

    #card-container {
        margin-top: 20px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);

    }

    /* btn */
    .btn-primary {
        background: #FF136F;
        padding: 8px 15px;
        border-radius: 10px;
        border: none;
        color: white;
        font-size: 12px;
    }
}

/* Small Mobile / Portrait (up to 320px) */
@media screen and (max-width:320px) {

    /* navbar */
    img {
        width: 90px;
    }

    .hamb-menu {
        width: 40px;
    }
}